
.body {
    background-color: #F0F7FF; /* Light blue background for a calm reading environment */
    color: #333; /* Darker text for better readability */
  }
  
  .course-heading {
    background-color: #0052B4; /* Darker blue for English page heading */
    color: #FFD700; /* Gold text for contrast and emphasis */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #FFD700; /* Gold border to highlight */
  }
  .back-button-container button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #0052B4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-button-container button:hover {
    background-color: #003884;
}

  
  .grades-container {
    padding: 20px;
  }
  
  .grade-section {
    margin-bottom: 20px;
    border-left: 5px solid #014B65; /* Dark blue border for emphasis */
  }
  
  .grade-section h2 {
    background-color: #FFD700; /* Gold background for headings */
    color: #014B65; /* Dark blue text for contrast */
    padding: 10px;
    border-radius: 5px;
  }
  
  .grade-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .grade-section ul li a {
    background-color: #f0f0f0; /* Light background for links */
    color: #014B65; /* Dark blue text for readability */
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .grade-section ul li a:hover {
    background-color: #ddd; /* Darker background on hover */
  }
  